* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif, sans-serif;
    line-height: 1.6;
    background-color:#ffffff;
    color: #333333;
    padding: 20px;
}
header {
    background: #ffffff;
    color: #333333;
    padding: 10px 0;
    text-align: center;
}
